<?xml version="1.0" ?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="cyberknife" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="cyberknife_laser.xacro" />
  <!-- <xacro:include filename="cyberknife.xacro" /> -->
  <xacro:include filename="xacro_colors.xacro"/>
  <xacro:include filename="controller_position.xacro" />
  <xacro:include filename="odom.xacro" />
  
</robot>